# run之前記得檢查import的檔案及日期

In [44]:
import pandas as pd
import time
import requests
from tqdm import tqdm_notebook
import json
import statistics as stat
import class_yahoof_data
import class_crsp_data

def get_nas_data(start, end):
    url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

    querystring = {"frequency": "1d", "filter": "history", "period1": start, "period2": end, "symbol": "%5EIXIC"}

    headers = {
        'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
        'x-rapidapi-key': "8099cb7d77msh3ebb39dd41af894p154acajsnabc8c78e3d42"
    }

    response = requests.request("GET", url, headers=headers, params=querystring)

    response = json.loads(response.text)

    for i in response['prices']:
        try:
            i['volume']
        except:
            response['prices'].remove(i)

    return response['prices']

def ticker_set(ticker):
    if '.' in ticker:
        return ticker.replace('.', '-')
    elif '/' in ticker:
        return ticker.replace('/', '-')
    else:
        return ticker

if __name__ == '__main__':
    russo = pd.read_csv('C:/Users/wells/ctbc_project/Russo/09-30-2019.csv', encoding='utf8', low_memory=False)
    russo = russo[russo['Ticker'].notnull()].reset_index(drop=True)
    russo['Ticker'] = russo['Ticker'].astype('str')
    russo['Ticker'] = russo['Ticker'].apply(ticker_set)
    crsp_data = pd.read_csv('StockPrice04.csv', encoding='utf8', low_memory=False)
    start = 20190701
    end = 20190930
    
    a = str(start)+' 21:30:00'
    timeArray = time.strptime(a, "%Y%m%d %H:%M:%S")
    start_stamp = str(int(time.mktime(timeArray)))

    b = str(end)+' 21:30:00'
    timeArray = time.strptime(b, "%Y%m%d %H:%M:%S")
    end_stamp = str(int(time.mktime(timeArray)))

    nas = pd.DataFrame(get_nas_data(start_stamp, end_stamp))
    
    crsp = class_crsp_data.Get_Crsp_Data(crsp_data, nas, start, end)
    yahoo = class_yahoof_data.Get_Yahoo_Data(nas, start_stamp, end_stamp)
    
    error_ticker = []
    results = pd.DataFrame()
    for ticker in russo['Ticker']:
        data = crsp.launch(ticker)
        if data is False:
            data = yahoo.launch(ticker)
            if data is False:
                error_ticker.append(ticker)
            else:
                results = pd.concat([results, data], ignore_index=True)
        else:
            results = pd.concat([results, data], ignore_index=True)

In [67]:
import numpy as np
crsp_data[crsp_data['TICKER']=='BRK'].loc[crsp_data['date']==20140930]
crsp_data[crsp_data['DIVAMT'] != np.nan]

,PERMNO,date,TICKER,COMNAM,SHRCLS,DIVAMT,PRC,VOL
0,10001,20100104,EGAS,ENERGY INC,NaN,NaN,10.25000,18500.0
1,10001,20100105,EGAS,ENERGY INC,NaN,NaN,10.19000,23200.0
2,10001,20100106,EGAS,ENERGY INC,NaN,NaN,10.31000,18700.0
3,10001,20100107,EGAS,ENERGY INC,NaN,NaN,9.96000,29200.0
4,10001,20100108,EGAS,ENERGY INC,NaN,NaN,10.34000,25100.0
5,10001,20100111,EGAS,ENERGY INC,NaN,NaN,10.50000,23100.0
6,10001,20100112,EGAS,ENERGY INC,NaN,NaN,10.45000,5600.0
7,10001,20100113,EGAS,ENERGY INC,NaN,0.045,10.37000,5200.0
8,10001,20100114,EGAS,ENERGY INC,NaN,NaN,10.35000,11500.0
9,10001,20100115,EGAS,ENERGY INC,NaN,NaN,10.27000,13800.0
10,10001,20100119,EGAS,ENERGY INC,NaN,NaN,10.15000,19400.0
11,10001,20100120,EGAS,ENERGY INC,NaN,NaN,10.27000,12100.0
12,10001,20100121,EGAS,ENERGY INC,NaN,NaN,10.05000,13200.0
13,10001,20100122,EGAS,ENERGY INC,NaN,NaN,10.10000,17100.0
14,10001,20100125,EGAS,ENERGY INC,NaN,NaN,9.86000,30400.0
15,10001,20100126,EGAS,ENERGY INC,NaN,NaN,9.88000,16100.0
16,10001,20100127,EGAS,ENERGY INC,NaN,NaN,9.97660,7200.0
17,10001,20100128,EGAS,ENERGY INC,NaN,NaN,10.15000,13500.0
18,10001,20100129,EGAS,ENERGY INC,NaN,NaN,10.06000,7500.0
19,10001,20100201,EGAS,ENERGY INC,NaN,NaN,9.99000,9600.0
20,10001,20100202,EGAS,ENERGY INC,NaN,NaN,9.99000,7600.0
21,10001,20100203,EGAS,ENERGY INC,NaN,NaN,10.10010,16000.0
22,10001,20100204,EGAS,ENERGY INC,NaN,NaN,10.01000,3600.0
23,10001,20100205,EGAS,ENERGY INC,NaN,NaN,9.95000,13800.0
24,10001,20100208,EGAS,ENERGY INC,NaN,NaN,10.20000,4700.0
25,10001,20100209,EGAS,ENERGY INC,NaN,NaN,10.22010,4300.0
26,10001,20100210,EGAS,ENERGY INC,NaN,0.045,10.00000,8600.0
27,10001,20100211,EGAS,ENERGY INC,NaN,NaN,10.01000,3800.0
28,10001,20100212,EGAS,ENERGY INC,NaN,NaN,10.07500,8500.0
29,10001,20100216,EGAS,ENERGY INC,NaN,NaN,10.09240,2500.0
...,...,...,...,...,...,...,...,...
8552157,93436,20141118,TSLA,TESLA MOTORS INC,NaN,NaN,257.70001,4474294.0
8552158,93436,20141119,TSLA,TESLA MOTORS INC,NaN,NaN,247.74001,7911086.0
8552159,93436,20141120,TSLA,TESLA MOTORS INC,NaN,NaN,248.71001,3587220.0
8552160,93436,20141121,TSLA,TESLA MOTORS INC,NaN,NaN,242.78000,7485059.0
8552161,93436,20141124,TSLA,TESLA MOTORS INC,NaN,NaN,246.72000,4789708.0
8552162,93436,20141125,TSLA,TESLA MOTORS INC,NaN,NaN,248.09000,3159804.0
8552163,93436,20141126,TSLA,TESLA MOTORS INC,NaN,NaN,248.44000,1982069.0
8552164,93436,20141128,TSLA,TESLA MOTORS INC,NaN,NaN,244.52000,2121827.0
8552165,93436,20141201,TSLA,TESLA MOTORS INC,NaN,NaN,231.64000,8619351.0
8552166,93436,20141202,TSLA,TESLA MOTORS INC,NaN,NaN,231.42999,5887046.0
8552167,93436,20141203,TSLA,TESLA MOTORS INC,NaN,NaN,229.30000,5307733.0
8552168,93436,20141204,TSLA,TESLA MOTORS INC,NaN,NaN,228.28000,3879208.0
8552169,93436,20141205,TSLA,TESLA MOTORS INC,NaN,NaN,223.71001,6063619.0
8552170,93436,20141208,TSLA,TESLA MOTORS INC,NaN,NaN,214.36000,9225619.0
8552171,93436,20141209,TSLA,TESLA MOTORS INC,NaN,NaN,216.89000,9431502.0
8552172,93436,20141210,TSLA,TESLA MOTORS INC,NaN,NaN,209.84000,7314165.0
8552173,93436,20141211,TSLA,TESLA MOTORS INC,NaN,NaN,208.88000,6690898.0
8552174,93436,20141212,TSLA,TESLA MOTORS INC,NaN,NaN,207.00000,7157282.0
8552175,93436,20141215,TSLA,TESLA MOTORS INC,NaN,NaN,204.03999,5218252.0
8552176,93436,20141216,TSLA,TESLA MOTORS INC,NaN,NaN,197.81000,8426305.0
8552177,93436,20141217,TSLA,TESLA MOTORS INC,NaN,NaN,205.82001,7368034.0
8552178,93436,20141218,TSLA,TESLA MOTORS INC,NaN,NaN,218.25999,7525316.0
8552179,93436,20141219,TSLA,TESLA MOTORS INC,NaN,NaN,219.28999,6910465.0
8552180,93436,20141222,TSLA,TESLA MOTORS INC,NaN,NaN,222.60001,4806917.0
8552181,93436,20141223,TSLA,TESLA MOTORS INC,NaN,NaN,220.97000,4512756.0
8552182,93436,20141224,TSLA,TESLA MOTORS INC,NaN,NaN,222.25999,1333518.0
8552183,93436,20141226,TSLA,TESLA MOTORS INC,NaN,NaN,227.82001,3327016.0
8552184,93436,20141229,TSLA,TESLA MOTORS INC,NaN,NaN,225.71001,2811828.0
8552185,93436,20141230,TSLA,TESLA MOTORS INC,NaN,NaN,222.23000,2903242.0
8552186,93436,20141231,TSLA,TESLA MOTORS INC,NaN,NaN,222.41000,2402097.0

In [2]:
import pandas as pd

In [3]:
russo_r = pd.read_csv('russo_r.csv')

In [4]:
russo_r

,PERMNO,date,TICKER,COMNAM,SHRCLS,DIVAMT,PRC,VOL,shares
0,17778,20050131,BRK,BERKSHIRE HATHAWAY INC DEL,A,NaN,89900.00000,70.0,2855
1,17778,20050228,BRK,BERKSHIRE HATHAWAY INC DEL,A,NaN,90200.00000,48.0,2855
2,17778,20050331,BRK,BERKSHIRE HATHAWAY INC DEL,A,NaN,87000.00000,92.0,2855
3,13901,20050131,MO,ALTRIA GROUP INC,NaN,NaN,63.83000,1397946.0,3530211
4,13901,20050228,MO,ALTRIA GROUP INC,NaN,NaN,65.65000,1418244.0,3530211
5,13901,20050331,MO,ALTRIA GROUP INC,NaN,0.730,65.39000,1304971.0,3530211
6,89565,20050131,CMCSK,COMCAST CORP NEW,NaN,NaN,31.61000,1214243.0,4459182
7,89565,20050228,CMCSK,COMCAST CORP NEW,NaN,NaN,31.86000,959055.0,4459182
8,89565,20050331,CMCSK,COMCAST CORP NEW,NaN,NaN,33.44000,1537498.0,4459182
9,53225,20050131,WPO,WASHINGTON POST CO,B,1.850,914.50000,4537.0,150712
10,53225,20050228,WPO,WASHINGTON POST CO,B,NaN,898.00000,2404.0,150712
11,53225,20050331,WPO,WASHINGTON POST CO,B,NaN,894.00000,5088.0,150712
12,38703,20050131,WFC,WELLS FARGO & CO NEW,NaN,NaN,61.30000,797564.0,2235885
13,38703,20050228,WFC,WELLS FARGO & CO NEW,NaN,0.480,59.38000,754058.0,2235885
14,38703,20050331,WFC,WELLS FARGO & CO NEW,NaN,NaN,59.80000,879038.0,2235885
15,15077,20050131,UST,U S T INC,NaN,NaN,50.66000,154253.0,2424212
16,15077,20050228,UST,U S T INC,NaN,NaN,54.65000,149010.0,2424212
17,15077,20050331,UST,U S T INC,NaN,0.550,51.70000,167745.0,2424212
18,80204,20050131,MLM,MARTIN MARIETTA MATERIALS INC,NaN,NaN,54.02000,55763.0,2128200
19,80204,20050228,MLM,MARTIN MARIETTA MATERIALS INC,NaN,0.200,57.68000,50736.0,2128200
20,80204,20050331,MLM,MARTIN MARIETTA MATERIALS INC,NaN,NaN,55.92000,50015.0,2128200
21,84176,20050131,SSP,SCRIPPS E W CO OHIO,A,NaN,46.36000,113591.0,2441020
22,84176,20050228,SSP,SCRIPPS E W CO OHIO,A,0.100,46.16000,88090.0,2441020
23,84176,20050331,SSP,SCRIPPS E W CO OHIO,A,NaN,48.75000,93556.0,2441020
24,49373,20050131,HRB,BLOCK H & R INC,NaN,NaN,48.31000,243586.0,2067357
25,49373,20050228,HRB,BLOCK H & R INC,NaN,NaN,53.30000,368665.0,2067357
26,49373,20050331,HRB,BLOCK H & R INC,NaN,0.220,50.58000,267859.0,2067357
27,66800,20050131,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,NaN,66.29000,1212901.0,1706329
28,66800,20050228,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,NaN,66.80000,1504045.0,1706329
29,66800,20050331,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,0.125,55.41000,4021324.0,1706329
...,...,...,...,...,...,...,...,...,...
31193,75241,20191231,PXD,PIONEER NATURAL RESOURCES CO,NaN,0.440,151.37000,304045.0,2600
31194,18592,20191031,CTVA,CORTEVA INC,NaN,NaN,26.38000,982709.0,12988
31195,18592,20191129,CTVA,CORTEVA INC,NaN,0.130,26.02000,1222826.0,12988
31196,18592,20191231,CTVA,CORTEVA INC,NaN,NaN,29.56000,1654462.0,12988
31197,66800,20191031,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,NaN,52.96000,777991.0,5735
31198,66800,20191129,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,NaN,52.66000,761397.0,5735
31199,66800,20191231,AIG,AMERICAN INTERNATIONAL GROUP INC,NaN,0.320,51.33000,904949.0,5735
31200,48725,20191031,UNP,UNION PACIFIC CORP,NaN,NaN,165.46001,856398.0,1560
31201,48725,20191129,UNP,UNION PACIFIC CORP,NaN,0.970,175.99001,505625.0,1560
31202,48725,20191231,UNP,UNION PACIFIC CORP,NaN,NaN,180.78999,546218.0,1560
31203,71271,20191031,Y,ALLEGHANY CORP DE,NaN,NaN,778.28998,9788.0,324
31204,71271,20191129,Y,ALLEGHANY CORP DE,NaN,NaN,780.03998,11724.0,324
31205,71271,20191231,Y,ALLEGHANY CORP DE,NaN,NaN,799.57001,11393.0,324
31206,22752,20191031,MRK,MERCK & CO INC NEW,NaN,NaN,86.66000,1855064.0,2751
31207,22752,20191129,MRK,MERCK & CO INC NEW,NaN,NaN,87.18000,1651104.0,2751
31208,22752,20191231,MRK,MERCK & CO INC NEW,NaN,0.610,90.95000,1542502.0,2751
31209,10104,20191031,ORCL,ORACLE CORP,NaN,0.240,54.49000,2528444.0,4000
31210,10104,20191129,ORCL,ORACLE CORP,NaN,NaN,56.14000,1572243.0,4000
31211,10104,20191231,ORCL,ORACLE CORP,NaN,NaN,52.98000,2657013.0,4000
31212,66157,20191031,USB,U S BANCORP DEL,NaN,NaN,57.02000,1190208.0,3514
31213,66157,20191129,USB,U S BANCORP DEL,NaN,NaN,60.03000,992576.0,3514
31214,66157,20191231,USB,U S BANCORP DEL,NaN,0.420,59.29000,1358135.0,3514
31215,49680,20191031,DHR,DANAHER CORP,NaN,NaN,137.82001,472119.0,1333
31216,49680,20191129,DHR,DANAHER CORP,NaN,NaN,145.98000,915513.0,1333
31217,49680,20191231,DHR,DANAHER CORP,NaN,0.170,153.48000,5699111.0,1333
31218,13983,20191031,COTY,COTY INC,A,NaN,11.69000,881034.0,14186
31219,13983,20191129,COTY,COTY INC,A,0.125,11.54000,1193799.0,14186
31220,13983,20191231,COTY,COTY INC,A,NaN,11.25000,987213.0,14186
31221,71563,20191031,BBT,B B & T CORP,NaN,NaN,53.05000,1106936.0,0
31222,71563,20191129,BBT,B B & T CORP,NaN,0.450,54.72000,839342.0,0

In [45]:
import pandas as pd
import time
import requests
from tqdm import tqdm_notebook
import json
import statistics as stat
import numpy as np

In [58]:
beta = pd.read_csv('beta.csv')
beta = beta[['DATE', 'RET', 'b_mkt', 'alpha', 'R2', 'TICKER']].drop_duplicates(keep='first', inplace=False)
beta.columns = ['date', 'RET', 'b_mkt', 'alpha', 'R2', 'ticker']
asset = pd.read_csv('asset and book value.csv')
asset = asset[['fyear', 'indfmt', 'tic', 'at', 'bkvlps', 'costat']].drop_duplicates(keep='first', inplace=False)
asset.columns = ['date', 'indfmt', 'ticker', 'at', 'bkvlps', 'costat']
asset = asset[asset['indfmt']!='FS'].loc[asset['ticker'].notnull()].reset_index(drop=True)
stock = pd.read_csv('StockPriceMonthly.csv')
stock = stock[['date', 'TICKER', 'PRC', 'SHRCLS']].drop_duplicates(keep='first', inplace=False)
stock = stock[stock['PRC'].notnull()].reset_index(drop=True)
stock.columns = ['date', 'ticker', 'price', 'class']

In [59]:
def abs_price(df_col):
    return abs(df_col)
stock['price'] = stock['price'].apply(abs_price)

In [60]:
def date_col(df_col):
    df_col = str(df_col)
    return df_col[0:6]

In [61]:
beta['date'] = beta['date'].apply(date_col)

In [62]:
asset['date'] = (asset['date']*100+12).astype('str')

In [63]:
stock['date'] = stock['date'].apply(date_col)

In [64]:
bp = asset.merge(stock, on=['date', 'ticker'], how='left')

In [65]:
bp['book/price'] = bp['bkvlps'] / bp['price']

In [10]:
bp = bp[bp['book/price'].notnull()].reset_index(drop=True)

In [66]:
bp['class'] = bp['class'].replace(np.nan, 0)

In [67]:
last_date = None
last_ticker = None
last_class = None
error_index = []
for index in tqdm_notebook(bp.index):
    date = bp.loc[index]['date']
    ticker = bp.loc[index]['ticker']
    class_ = bp.loc[index]['class']
    if last_date == date and last_ticker == ticker and last_class == class_:
        error_index.append(index)
        error_index.append(index-1)
    last_date = date
    last_ticker = ticker
    last_class = class_

HBox(children=(IntProgress(value=0, max=166717), HTML(value='')))

In [68]:
for index in error_index:
    bp = bp.drop(index)

In [54]:
bp.to_csv('bp.csv', index=False)

In [19]:
investment = asset

In [20]:
investment = investment[investment['at'].notnull()]

In [24]:
investment.loc[:, 'last_at'] = investment.groupby(['ticker'])['at'].shift()
investment.loc[:, '2last_at'] = investment.groupby(['ticker'])['last_at'].shift()
investment.loc[:, 'last-2last'] = investment['last_at'] - investment['2last_at']

In [25]:
investment.loc[:, 'investment'] = investment['last-2last'] / investment['2last_at']

In [27]:
investment = investment[investment['investment'].notnull()].reset_index(drop=True)

In [56]:
investment.to_csv('investment.csv', index=False)

In [69]:
bp.loc[:, 'last_at'] = bp.groupby(['ticker'])['at'].shift()
bp.loc[:, '2last_at'] = bp.groupby(['ticker'])['last_at'].shift()
bp.loc[:, 'last-2last'] = bp['last_at'] - bp['2last_at']
bp.loc[:, 'investment'] = bp['last-2last'] / bp['2last_at']
bp = bp[bp['book/price'].notnull()].reset_index(drop=True)
bp = bp[bp['investment'].notnull()].reset_index(drop=True)

In [71]:
bp.to_csv('bpInvestment.csv', index=False)

In [78]:
bp = bp.merge(beta[['ticker', 'date', 'b_mkt']], on=['ticker', 'date'])

In [81]:
bp[bp['b_mkt'].notnull()].to_csv('bpInvestmentBeta.csv', index=False)

In [190]:
[1]*3

[1, 1, 1]

In [191]:
profolio = bp[['date', 'ticker', 'bkvlps', 'price', 'book/price', 'investment', 'b_mkt']]
all_profolio = pd.DataFrame()
for date, df in tqdm_notebook(profolio.groupby(['date'])):
    length = len(df)
    len30 = int(length*0.3)
    df = df.sort_values('book/price').reset_index(drop=True)
    hml_list = [1] * len30 + [0] * (length-len30)
    df.loc[:, 'hml'] = hml_list
    df = df.sort_values('investment').reset_index(drop=True)
    cma_list = [1] * len30 + [0] * (length-len30)
    df.loc[:, 'cma'] = cma_list
    all_profolio = pd.concat([all_profolio, df], ignore_index=True, sort=False)

HBox(children=(IntProgress(value=0, max=16), HTML(value='')))

In [192]:
all_profolio

,date,ticker,bkvlps,price,book/price,investment,b_mkt,hml,cma
0,200412,MSGI,1.4464,15.24000,0.094908,-0.848689,3.2812,1,1
1,200412,EELN,1.3377,3.38000,0.395769,-0.693726,2.0288,0,1
2,200412,LPTH,2.4787,4.41000,0.562063,-0.662006,4.3221,0,1
3,200412,INTZ,-0.0218,2.90600,-0.007502,-0.659956,3.8283,1,1
4,200412,DIGL,-0.8526,1.32000,-0.645909,-0.577244,5.0649,1,1
5,200412,ACME,4.6832,7.01000,0.668074,-0.562872,1.0088,0,1
6,200412,IOM,1.9925,5.54000,0.359657,-0.533890,0.3287,0,1
7,200412,ICOC,1.3767,3.08000,0.446981,-0.523236,0.6239,0,1
8,200412,AMRN,0.4460,2.71000,0.164576,-0.513648,0.6938,1,1
9,200412,NTIQ,7.9959,12.21000,0.654865,-0.513271,2.5533,0,1
10,200412,VERT,0.7479,1.61000,0.464534,-0.505609,4.1664,0,1
11,200412,DPAC,0.0606,1.03000,0.058835,-0.491787,2.9407,1,1
12,200412,ASPT,-0.0118,11.14000,-0.001059,-0.485549,3.4129,1,1
13,200412,OMG,17.1008,32.42000,0.527477,-0.482100,0.4946,0,1
14,200412,QSND,0.5857,8.39000,0.069809,-0.480611,2.5742,1,1
15,200412,ISWI,0.1980,4.62000,0.042857,-0.473324,1.2187,1,1
16,200412,CCBL,4.8414,9.30000,0.520581,-0.472552,3.2537,0,1
17,200412,MFI,4.7094,3.75000,1.255840,-0.469936,0.8645,0,1
18,200412,DSGX,0.8780,2.00000,0.439000,-0.468469,2.6647,0,1
19,200412,CPTS,1.4378,8.11500,0.177178,-0.458568,1.4943,1,1
20,200412,BSQR,0.3339,1.49000,0.224094,-0.438159,1.9739,1,1
21,200412,SPDE,1.6555,2.86000,0.578846,-0.432603,2.8602,0,1
22,200412,IDNX,2.3011,7.38000,0.311802,-0.431265,1.8439,0,1
23,200412,GVP,0.6642,2.70000,0.246000,-0.427701,0.8993,1,1
24,200412,DXYN,9.0317,16.84000,0.536324,-0.426482,0.3121,0,1
25,200412,MSLV,0.7570,2.69000,0.281413,-0.425854,1.8858,1,1
26,200412,SLR,2.4687,5.33000,0.463171,-0.407164,3.1496,0,1
27,200412,SSPI,0.3414,2.53900,0.134462,-0.402629,1.4205,1,1
28,200412,SMRA,0.9690,1.27000,0.762992,-0.401284,2.4608,0,1
29,200412,ASGN,2.9462,5.19000,0.567669,-0.394991,1.1148,0,1
...,...,...,...,...,...,...,...,...,...
48307,201912,SSNC,20.0947,61.40000,0.327275,1.907745,1.2745,0,0
48308,201912,RNG,8.5772,168.67000,0.050852,1.930602,0.9149,1,0
48309,201912,STCN,0.8525,1.46000,0.583904,1.940120,0.1673,0,0
48310,201912,SIEB,0.7652,8.65000,0.088462,2.016929,0.1645,1,0
48311,201912,OGEN,0.2324,0.52300,0.444359,2.056133,1.7870,0,0
48312,201912,FIVN,3.1922,65.58000,0.048676,2.078614,0.7655,1,0
48313,201912,APYX,2.0854,8.46000,0.246501,2.085388,0.2479,1,0
48314,201912,VSTM,0.0895,1.34000,0.066791,2.087570,3.0379,1,0
48315,201912,VAC,72.6035,128.75999,0.563867,2.103029,1.7385,0,0
48316,201912,CBIO,5.6753,6.81000,0.833377,2.161491,1.3825,0,0
48317,201912,SMTX,1.4576,3.39000,0.429971,2.166886,0.9006,0,0
48318,201912,TEO,11.8292,11.35000,1.042220,2.201056,0.8934,0,0
48319,201912,AINC,18.7907,23.60000,0.796216,2.301150,0.8198,0,0
48320,201912,DRNA,2.1264,22.03000,0.096523,2.383748,2.4224,1,0
48321,201912,ONTX,0.1041,0.38300,0.271802,2.599719,2.4040,0,0
48322,201912,WETF,2.2195,4.84000,0.458574,2.676757,1.5647,0,0
48323,201912,PHIO,0.1561,0.17100,0.912865,2.738897,1.5963,0,0
48324,201912,BLFS,2.0866,16.18000,0.128962,2.744297,1.2242,1,0
48325,201912,LTBR,3.8896,4.50000,0.864356,2.792830,1.9558,0,0
48326,201912,EYPT,0.0761,1.55000,0.049097,2.837340,1.5183,1,0
48327,201912,IMMU,1.2629,21.16000,0.059683,3.085383,2.2459,1,0
48328,201912,NKTR,7.9623,21.58500,0.368881,3.225419,2.6428,0,0
48329,201912,MLND,3.2051,6.74000,0.475534,3.243590,2.6156,0,0
48330,201912,PTE,1.4216,2.60000,0.546769,3.358972,1.4008,0,0
48331,201912,CLIR,0.3453,0.76250,0.452852,3.478971,0.3769,0,0
48332,201912,GLMD,3.3045,5.78000,0.571713,3.612330,2.8908,0,0
48333,201912,AIMC,29.9316,36.21000,0.826611,3.711030,1.9555,0,0
48334,201912,EHTH,22.7854,96.08000,0.237150,3.952960,1.1566,1,0
48335,201912,STRA,66.5928,158.89999,0.419086,4.170068,0.5606,0,0
48336,201912,NYMX,0.0484,2.20000,0.022000,7.249234,1.8257,1,0

In [197]:
return_factor = pd.read_csv(r'return_factor.csv')
return_factor = return_factor[['DATE', 'MKT']]
return_factor.columns = ['date', 'mkt']
return_factor['date'] = return_factor['date'].astype('str')

In [198]:
all_profolio.merge(return_factor, on='date')

,date,ticker,bkvlps,price,book/price,investment,b_mkt,hml,cma,mkt
0,200512,VALU,6.2047,35.32000,0.175671,-0.629614,0.1539,1,1,-0.25
1,200512,GLOV,2.8381,3.56000,0.797219,-0.615521,1.1998,0,1,-0.25
2,200512,XOMA,-0.5824,1.60000,-0.364000,-0.610770,1.9571,1,1,-0.25
3,200512,CYTR,0.1229,1.03000,0.119320,-0.590312,1.9287,1,1,-0.25
4,200512,NL,4.5237,14.09000,0.321057,-0.566999,0.8829,0,1,-0.25
5,200512,INSM,0.1583,1.97000,0.080355,-0.563565,3.3432,1,1,-0.25
6,200512,CTTY,4.0309,5.97000,0.675193,-0.556622,1.0520,0,1,-0.25
7,200512,MBAY,0.1239,1.35000,0.091778,-0.550701,1.9932,1,1,-0.25
8,200512,MFI,3.9877,3.94000,1.012107,-0.544350,0.9303,0,1,-0.25
9,200512,PANC,1.7150,6.93000,0.247475,-0.540598,0.8120,1,1,-0.25
10,200512,ALE,20.0266,44.00000,0.455150,-0.538452,0.4699,0,1,-0.25
11,200512,LTS,0.0916,0.46000,0.199130,-0.509912,4.0323,1,1,-0.25
12,200512,AMRN,0.4988,1.20000,0.415667,-0.499314,1.2271,0,1,-0.25
13,200512,REFR,0.2640,5.17000,0.051064,-0.497188,1.4799,1,1,-0.25
14,200512,TMTA,0.2878,1.13000,0.254690,-0.477749,3.1284,1,1,-0.25
15,200512,IDN,0.4470,3.89000,0.114910,-0.476798,0.8194,1,1,-0.25
16,200512,PGNX,4.4683,25.01000,0.178661,-0.457440,3.5287,1,1,-0.25
17,200512,SFE,1.3756,1.93000,0.712746,-0.457378,4.0627,0,1,-0.25
18,200512,ALTH,0.9675,2.15000,0.450000,-0.456699,0.9371,0,1,-0.25
19,200512,EMIS,-0.6370,4.34000,-0.146774,-0.450529,1.6831,1,1,-0.25
20,200512,SQNM,0.2919,0.68000,0.429265,-0.442651,3.6906,0,1,-0.25
21,200512,STMP,4.7669,22.96000,0.207618,-0.436633,0.7180,1,1,-0.25
22,200512,DSGX,0.9433,3.14000,0.300414,-0.436369,2.6405,1,1,-0.25
23,200512,SGRP,0.2564,0.90100,0.284573,-0.432329,0.4286,1,1,-0.25
24,200512,FMDAY,-0.0150,0.32000,-0.046875,-0.428044,3.7490,1,1,-0.25
25,200512,LTRX,0.3141,1.65000,0.190364,-0.407376,2.7486,1,1,-0.25
26,200512,MAXM,0.9024,1.10000,0.820364,-0.402079,2.4549,0,1,-0.25
27,200512,NMGC,2.5335,8.56000,0.295970,-0.396119,1.7230,1,1,-0.25
28,200512,FNB,8.3109,17.36000,0.478738,-0.394942,0.2402,0,1,-0.25
29,200512,ISTA,1.1712,6.36000,0.184151,-0.394743,2.0191,1,1,-0.25
...,...,...,...,...,...,...,...,...,...,...
45423,201912,SSNC,20.0947,61.40000,0.327275,1.907745,1.2745,0,0,2.77
45424,201912,RNG,8.5772,168.67000,0.050852,1.930602,0.9149,1,0,2.77
45425,201912,STCN,0.8525,1.46000,0.583904,1.940120,0.1673,0,0,2.77
45426,201912,SIEB,0.7652,8.65000,0.088462,2.016929,0.1645,1,0,2.77
45427,201912,OGEN,0.2324,0.52300,0.444359,2.056133,1.7870,0,0,2.77
45428,201912,FIVN,3.1922,65.58000,0.048676,2.078614,0.7655,1,0,2.77
45429,201912,APYX,2.0854,8.46000,0.246501,2.085388,0.2479,1,0,2.77
45430,201912,VSTM,0.0895,1.34000,0.066791,2.087570,3.0379,1,0,2.77
45431,201912,VAC,72.6035,128.75999,0.563867,2.103029,1.7385,0,0,2.77
45432,201912,CBIO,5.6753,6.81000,0.833377,2.161491,1.3825,0,0,2.77
45433,201912,SMTX,1.4576,3.39000,0.429971,2.166886,0.9006,0,0,2.77
45434,201912,TEO,11.8292,11.35000,1.042220,2.201056,0.8934,0,0,2.77
45435,201912,AINC,18.7907,23.60000,0.796216,2.301150,0.8198,0,0,2.77
45436,201912,DRNA,2.1264,22.03000,0.096523,2.383748,2.4224,1,0,2.77
45437,201912,ONTX,0.1041,0.38300,0.271802,2.599719,2.4040,0,0,2.77
45438,201912,WETF,2.2195,4.84000,0.458574,2.676757,1.5647,0,0,2.77
45439,201912,PHIO,0.1561,0.17100,0.912865,2.738897,1.5963,0,0,2.77
45440,201912,BLFS,2.0866,16.18000,0.128962,2.744297,1.2242,1,0,2.77
45441,201912,LTBR,3.8896,4.50000,0.864356,2.792830,1.9558,0,0,2.77
45442,201912,EYPT,0.0761,1.55000,0.049097,2.837340,1.5183,1,0,2.77
45443,201912,IMMU,1.2629,21.16000,0.059683,3.085383,2.2459,1,0,2.77
45444,201912,NKTR,7.9623,21.58500,0.368881,3.225419,2.6428,0,0,2.77
45445,201912,MLND,3.2051,6.74000,0.475534,3.243590,2.6156,0,0,2.77
45446,201912,PTE,1.4216,2.60000,0.546769,3.358972,1.4008,0,0,2.77
45447,201912,CLIR,0.3453,0.76250,0.452852,3.478971,0.3769,0,0,2.77
45448,201912,GLMD,3.3045,5.78000,0.571713,3.612330,2.8908,0,0,2.77
45449,201912,AIMC,29.9316,36.21000,0.826611,3.711030,1.9555,0,0,2.77
45450,201912,EHTH,22.7854,96.08000,0.237150,3.952960,1.1566,1,0,2.77
45451,201912,STRA,66.5928,158.89999,0.419086,4.170068,0.5606,0,0,2.77
45452,201912,NYMX,0.0484,2.20000,0.022000,7.249234,1.8257,1,0,2.77